@charset 'UTF-8';

@import 'normalize';

$navy: #20253f;
$green: #1d9038;
$beige: #fcf5ec;
$gray: #989898;
$dark-gray: #1d1d1e;
$light-gray: #ddd;

html, body {
	background: $beige;
	color: $dark-gray;
	font-family: "proxima-nova", arial, sans-serif;
}

a, a:active, a:visited {
	color: $navy;
	text-decoration: none;
}

a:hover {
	color: lighten($navy, 50);
}

.hidden {
	display: none;
}

button {
	background: $beige;
	font-size: 1.25em;
	font-weight: bold;
	display: inline-block;
	margin: .5em;
	padding: 0 1em;
	line-height: 34px;
	border-radius: 20px;
	transition: all 0.35s ease-in-out;

	span {
		float: left;
		margin-top: 2px;
		margin-right: .5em;
	}

	&.affirm {
		color: $navy;
		border: 2px solid $navy;

		&:hover {
			background: $navy;
			color: $beige;
		}
	}

	&.deny {
		opacity: .5;
		color: $dark-gray;
		border: 2px solid $dark-gray;

		&:hover {
			opacity: 1;
		}
	}
}

#landing-page {
	text-align: center;

	h1 {
		margin: 3em auto;
		padding: 0 1em;
		color: $navy;
	}

	h2 {
		font-weight: 100;
		padding: 0 1em;
	}
}

#declined {
	padding: 1em;

	p {
		font-size: 1.5em;
	}
}

#groomsmen-container {
	padding: 1em;
}

.profile {
	position: relative;
	background: white;
	padding: 1em;
	margin: 0 auto 2em auto;
	max-width: 500px;
	min-height: 175px;
	border: 1px solid $light-gray;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

	img {
		position: absolute;
		top: -5px;
		left: -10px;
		max-width: 125px;
		border: 2px solid $dark-gray;
		border-radius: 5px;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
	}

	h1 {
		color: $navy;
		margin-bottom: .25em;
		margin-left: 125px;
	}

	h3 {
		color: $gray;
		font-weight: 100;
		margin-top: .25em;
		margin-left: 125px;
	}

	ul {
		margin-top: 2em;
		margin-bottom: 3em;
		list-style: none;
		padding-left: 1em;

		li {
			display: inline-block;
			margin-right: .5em;

			span {
				color: $gray;
			}
		}
	}

	.status {
		position: absolute;
		right: -5px;
		bottom: -10px;
		padding: .5em; 
		background: $light-gray;
		color: $navy;
		border: 2px solid $dark-gray;
		border-radius: 5px;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);

		h2 {
			margin: 0;
		}

		span {
			margin-right: .5em;
		}
	}

	&.confirmed {

		.status {
			color: $green;
			border-color: $green;
			background: lighten($green, 60);
		}
	}
}

@media only screen and (min-width: 850px) {

	#groomsmen-container {
		max-width: 1000px;
		margin: auto;
		padding-top: 2em;
	}

	.profile {
		width: 48%;
		float: left;
		margin: 0 1% 2em 1%;
	}

}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

.clearfix {
  zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}