@charset 'UTF-8';

@import 'normalize';

$navy: #20253f;
$beige: #fcf5ec;
$dark-gray: #1d1d1e;

html, body {
	color: $dark-gray;
	font-family: "proxima-nova", arial, sans-serif;
}

body {
	background: url('../img/mobileHero1.jpg');
	background-repeat: no-repeat;
    background-size: contain;
}

h1, h2, h3 {
	font-family: "spumante", sans-serif;
	font-weight: 100;
}

a, a:active, a:visited {
	color: $navy;
	text-decoration: none;
}

a:hover {
	color: lighten($navy, 50);
}

.hidden {
	display: none;
}

#pageHeader {
	background: rgba(255, 255, 255, 0.75);
	padding-top: 1em;

	img {
		display: block;
		max-width: 100px;
		margin: 0 auto 1em auto;
	}

	nav {
		border-bottom: 2px solid $navy;
		box-shadow: 0 2px 5px 0px rgba(0,0,0,0.1);
	}

	nav ul {
		display: table;
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: table-cell;
			border-left: 1px solid #eee;

			&:first-child {
				border-left: none;
			}
		}

		li a {
			position: relative;
			display: block;
			text-align: center;
			padding: 1em .5em;

			&:hover:after, &.active:after {
				position: absolute;
				content: '';
				width: 0;
				height: 0;
				border: 6px solid transparent;
				border-bottom-color: $navy;
				bottom: 0;
				left: 50%;
				margin-left: -3px;
			}
		}
	}
}

.hero {
	max-width: 100%;
	margin-top: 2em;
	border-top: 2px solid $beige;
	border-bottom: 2px solid $beige;
}

section {
	margin: 1.5em;
	padding: 1em;
	background: rgba(255, 255, 255, 0.75);

	h1:first-child {
		margin-top: 0;
	}
}

@media only screen and (min-width: 450px) {


}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

.clearfix {
  zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}