@charset 'UTF-8';

@import 'normalize';

$navy: #333d70;
$beige: #f1eae8;
$dark-gray: #1d1d1e;
$mid-gray: #8e8e8e;

* {
	box-sizing: border-box;
}

html, body {
	color: $dark-gray;
	font-family: "proxima-nova", arial, sans-serif;
}

h1, h2, h3 {
	font-family: "spumante", sans-serif;
	font-weight: 100;
}

a, a:active, a:visited {
	color: $navy;
}

a:hover {
	color: lighten($navy, 50);
}

.hidden {
	display: none;
}

label {
	display: block;
}

input[type="text"], input[type="number"], input[type="tel"], select {
	padding: .625em;
	border: 1px solid $mid-gray;
	border-radius: 4px;
}

.button {
	padding: .45em 1.25em;
    margin: .25em;
    border-radius: 25px;
    background: none;
    font-size: 1.15em;
    transition: background 0.25s ease-in-out;

	&.affirmative {
		border: 2px solid #0b8860;
		color: #0b8860;
	}

	&.neutral {
		border: 2px solid $mid-gray;
		color: $mid-gray;
	}

	&:hover {
		cursor: pointer;
		background: rgba(150, 150, 150, .15);
	}
}

#pageHeader {
	background: $beige;
	padding-top: 1em;

	img {
		display: block;
		max-width: 100px;
		margin: 0 auto 1em auto;
	}

	nav {
		background: white;
		border-top: 1px solid #eee;
		border-bottom: 2px solid $navy;
		box-shadow: 0 2px 5px 0px rgba(0,0,0,0.1);
	}

	nav ul {
		display: table;
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: table-cell;
			border-left: 1px solid #eee;

			&:first-child {
				border-left: none;
			}
		}

		li a {
			position: relative;
			display: block;
			color: $navy;
			text-align: center;
			text-decoration: none;
			padding: 1em .5em;

			&:hover:after, &.active:after {
				position: absolute;
				content: '';
				width: 0;
				height: 0;
				border: 6px solid transparent;
				border-bottom-color: $navy;
				bottom: 0;
				left: 50%;
				margin-left: -3px;
			}
		}
	}
}

.hero {
	margin-top: 2em;
	border-top: 2px solid $beige;
	border-bottom: 2px solid $beige;

	img {
		display: block;
		max-width: 100%;
	}

	.large {
		display: none;
	}
}

section {
	margin: 1em 1em 3em 1em;

	img {
		display: block;
		max-width: 100%;
	}

	.large {
		display: none;
	}

	aside {
		height: 250px;
	}
}

.rsvp {
	padding: 0 .5em;
	text-align: center;
	font-size: 125%;

	.formField {
		display: inline-block;
		margin-top: 1.5em;
	}

	.results ul {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: left;

		li {
	    	clear: both;
    		min-height: 70px;
			padding: .5em 0;
			border-bottom: 1px solid #f0f0f0;
		}

		.button {
			font-size: 90%;
			float: left;
			margin-right: .75em;
		}
	}

	input {
		margin-bottom: 1em;
	}

	input[type="checkbox"] {
		width: 20px;
		height: 20px;
	}
}

.rsvpAdmin {

	table tr:nth-child(even) {
		background: #f0f0f0;
	}

	table td {
		border-bottom: 1px solid #ccc;
		padding: .5em;
		vertical-align: top;
	}
}

@media only screen and (min-width: 649px) {

	#pageHeader {
		padding: 1em;

		img {
			float: left;
		}
		
		nav {
			float: left;
			background: none;
			margin-top: 25px;
			margin-left: 15px;
			font-size: 1.25em;
    		border: none;
    		box-shadow: none;

    		li a.active {
    			text-decoration: underline
    		}

    		li a:hover:after, li a.active:after {
    			display: none;
    		}
		}
	}

	.hero {
		.small {
			display: none;
		}

		.large {
			display: block;
		}
	}

	section {

		.small {
			display: none;
		}

		.large {
			display: block;
		}
	}

	.rsvp {
		.results ul .button {
			float: none;
		}
	}

}

@media only screen and (min-width: 799px) {
	#pageHeader {
		img {
			max-width: 150px;
		}

		nav {
			font-size: 1.5em;
			margin-top: 35px;
		}
	}
}

@media only screen and (min-width: 999px) {

	section {
		font-size: 125%;
		margin: 1em 0 3em 0;

		aside {
			height: 350px;
		}
	}

	.wrapper {
		max-width: 1000px;
		margin: auto;
	}

	.hero {
		max-width: 1400px;
		margin-left: auto;
		margin-right: auto;
	}
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

.clearfix {
  zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}