<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Alicia and Jason 2017</title>

    <link rel="stylesheet" href="css/groomsmen.css">
    <link href="https://file.myfontastic.com/Ts8vfukvBBzvDPtsrXDneb/icons.css" rel="stylesheet">

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://use.typekit.net/yeu6hsr.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>

    <div id="app">
      <div id="landing-page" v-if="!groomsman.viewed && groomsman.name">
        <h1>{{ groomsman.name }}, you've been identified.</h1>
        <h2>You are uniquely qualified to take part in union of Alicia and Jason. Will you accept the responsibility of being my groomsman?</h2>
        <div class="button-container">
          <button class="affirm" @click="confirmSpot">I accept</button>
          <button class="deny" @click="declineSpot">I decline</button>
        </div>
      </div>
      <div id="groomsmen-container" v-if="groomsman.viewed && groomsman.status">
        <div class="profile" :class="{ confirmed: groomsmen.status }" v-for="groomsmen in groomsmen">
          <img :src="getImg(groomsmen['.key'])">
          <h1>{{ groomsmen.name }}</h1>
          <h3>AKA: {{ groomsmen.alias }}</h3>
          <ul>
            <li><span>Role:</span> {{ groomsmen.role }}</li>
            <li><span>KDR:</span> {{ groomsmen.kdr }}</li>
            <li><span>Exp:</span> {{ groomsmen.exp }}</li>
          </ul>
          <div class="status">
            <h2 v-if="groomsmen.status"><span class="icon-check"></span>Confirmed</h2>
            <h2 v-else><span class="icon-hourglass-half"></span>Pending</h2>
        </div>
      </div>
      <div id="declined" v-if="groomsman.viewed && !groomsman.status">
        <p>{{ groomsman.name.substr(0,groomsman.name.indexOf(' ')) }}, I'm sorry that you won't be able to be a groomsman in my wedding. You should give me a call so we can chat about it.</p>
        <button class="affirm" @click="confirmSpot">I didn't mean to decline, I just wanted to know what happened if I hit the button</button>
      </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/3.6.8/firebase.js"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>    
    <script src="src/groomsmen.js"></script>
  </body>
</html>
