<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Alicia and Jason 2017 - RSVP</title>

    <link rel="stylesheet" href="css/main.css">
    <link href="https://file.myfontastic.com/Ts8vfukvBBzvDPtsrXDneb/icons.css" rel="stylesheet">

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://use.typekit.net/yeu6hsr.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>
    <header id="pageHeader" class="clearfix">
        <div class="wrapper">
    		<a href="index.html"><img src="img/logo.png"></a>
            <nav>
                <ul>
                    <li><a href="index.html" class="">Our Story</a></li>
                    <li><a href="wedding.html" class="">Our Wedding</a></li>
                    <li><a href="info.html" class="">Guest Info</a></li>
                    <li><a href="rsvp.html" class="">RSVP</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="wrapper">
        <div id="app" class="rsvp">
            <h2>Whittaker/Gross Wedding RSVP</h2>
            <div class="searchPage" v-if="step === 0">
            	<div v-if="!searchConducted">
	            	<p>Thank you for visiting the website to RSVP for our wedding. Please enter either your name or address.</p>
                    <div class="formField">
	                   <label>Name / Address</label>
	                   <input type="text" name="search" id="search" v-model="searchValue" autofocus>
                    </div>
	                <button @click="searchRSVP" class="button affirmative" type="button" role="button">Search</button>
                </div>
                <div v-else>
	                <div v-if="Object.keys(activeGuest).length > 0">
	                	<h4>Hello {{ activeGuest.Name.split(' ')[0] }},</h4>
	                	<p>Are you planning on attending our wedding?</p>
	                	<button class="button affirmative" @click="confirmPrimary">Yes, I will attend</button>
                        <button class="button neutral" @click="denyPrimary">No, I can't make it</button>
	                </div>
	                <div v-else-if="filteredResults.length > 1" class="results">
	                    <h4>Multiple Matches</h4>
	                    <p>We found more than one potential result, which one are you?</p>
	                    <ul>
	                        <li v-for="(result, index) in filteredResults">
	                            <button class="button affirmative" @click="selectResult(index)">This is me</button>{{ result.Name }} <span v-if="result.Spouse">and {{ result.Spouse }}</span>
	                        </li>
	                    </ul>
	                </div>
	                <div v-else>
	                	<h4>No Match</h4>
	                	<p>Sorry, we didn't find any suitable matches for <strong>{{ searchValue }}</strong>, please try again. Remember, you can use either your name or address. If you continue to have trouble please give Jason a call at 812-499-9475 or Alicia at 574-780-0583.</p>
	                	<label>Name / Address</label>
		                <input type="text" name="search" id="search" v-model="searchValue">
		                <button class="button affirmative" @click="searchRSVP">Search</button>
		            </div>
		        </div>
            </div>
            <div class="guestPage" v-if="step === 1">
                <div v-if="primaryAttending">
                    <h4>That's great {{ activeGuest.Name.split(' ')[0] }}!</h4>
                    <p>We can't wait to see you at our wedding. 
                        <span v-if="activeGuest.Spouse">Will {{ activeGuest.Spouse.split(' ')[0] }} be joining you?</span>
                        <span v-else-if="activeGuest.Guests > 0">Are you planning on bringing a guest with you?</span>
                    </p>
                    <div v-if="activeGuest.Spouse">
                        <button class="button affirmative" @click="confirmSO">Yes, {{ activeGuest.Spouse.split(' ')[0] }} is coming too</button>
                        <button class="button neutral" @click="denySO">No, {{ activeGuest.Spouse.split(' ')[0] }} can't come</button>
                    </div>
                    <div v-else-if="activeGuest.Guests > 0">
                        <button class="button affirmative" @click="confirmGuest">Yes, I plan to bring a guest</button>
                        <button class="button neutral" @click="denyGuest">No, I am only RSVPing for myself</button>
                    </div>
                    <div v-else>
                        <p>Your RSVP is all set. If your status changes or you need anything else please give Jason a call at 812-499-9475 or Alicia at 574-780-0583.</p>
                        <p>As one last step we are giving our guests the option to provide us with a cell phone number so that we can get in touch with you prior to our event. We will be sending out a text message to anyone who provides their number to provide them with the gate code required to get into the venue on the big day. Additionally, we may reach out to notify our guests of any considerations that need to be made on behalf of the weather report.</p>
                        <div v-if="!phoneSubmitted">
		                    <label>Cell Phone (optional)</label>
		                    <the-mask mask="(###) ###-####" placeholder="(555) 555-5555" type="text" v-model="phone"></the-mask>
		                    <button class="button affirmative" @click="addPhone">Submit</button>
		                </div>
		                <div v-else>
		                	<p><em>We've got your number, thank you!</em></p>
		                </div>
                        <p>For information about accomodation in Indianapolis, couple registration, or event times and locations please visit the <a href="info.html">guest information page</a>.</p>
                    </div>
                </div>
                <div v-else>
                    <h4>We're sorry to hear that {{ activeGuest.Name.split(' ')[0] }},</h4>
                    <div v-if="activeGuest.Spouse">
                        <p>Will {{ activeGuest.Spouse.split(' ')[0] }} be attending without you?</p>
                        <button class="button affirmative" @click="confirmSO">Yes, {{ activeGuest.Spouse.split(' ')[0] }} is still coming</button>
                        <button class="button neutral" @click="denySO">No, we are both missing the event</button>
                    </div>
                    <p v-else>
                        Thank you for completing your RSVP process. If your status changes or you need anything else please give Jason a call at 812-499-9475 or Alicia at 574-780-0583.
                    </p>
                </div> 
            </div>
            <div class="infoPage" v-if="step === 2">
                <div v-if="primaryAttending || SOAttending">
                    <h4>We'll see you in October!</h4>
                    <p>Your RSVP is all set. If your status changes or you need anything else please give Jason a call at 812-499-9475 or Alicia at 574-780-0583.</p>
                    <p>As one last step we are giving our guests the option to provide us with a cell phone number so that we can get in touch with you prior to our event. We will be sending out a text message to anyone who provides their number to provide them with the gate code required to get into the venue on the big day. Additionally, we may reach out to notify our guests of any considerations that need to be made on behalf of the weather report.</p>
                    <div v-if="!phoneSubmitted">
	                    <label>Cell Phone (optional)</label>
	                    <the-mask mask="(###) ###-####" placeholder="(555) 555-5555" type="text" v-model="phone"></the-mask>
	                    <button class="button affirmative" @click="addPhone">Submit</button>
	                </div>
	                <div v-else>
	                	<p><em>We've got your number, thank you!</em></p>
	                </div>
                    <p>For information about accomodation in Indianapolis, couple registration, or event times and locations please visit the <a href="info.html">guest information page</a>.</p>
                </div>
                <div v-else>
                    <h4>Thank you</h4>
                    <p>Thank you for completing your RSVP process. We are sorry you will not be able to attend our wedding. If your status changes or you need anything else please give Jason a call at 812-499-9475 or Alicia at 574-780-0583.</p>
                </div> 
            </div>
        </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/3.6.8/firebase.js"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    <script src="https://cdn.jsdelivr.net/fuse/2.6.1/fuse.min.js"></script>
    <script src="src/rsvp.js"></script>
    <script src="src/vue-the-mask.js"></script>
  </body>
</html>
